# python
__pycache__/
*.egg-info/
*.pyc

# environment
variables.sh
habitat-lab

# development
.idea
.vscode

# data
data/*
!data/languagenav/lang_parse/
!data/imagenav/image_goal_caption_parse/
# logs
tb/
train.log
slurm_logs/

# scripts
# scripts/
